<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>intro</key>
				<string>刷卡机发神经啊啥啊啥</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>啊啊啊啊啊啊是放假啊啥了</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>骚发手机话费啊啊乱收费</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>啊手机话费拉基舍夫</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>啊手机发了哈时间f</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>啊啥赵云片撒娇返回</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>阿双方立即啊还是短发h</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>是理发师阿双方了哈啥</string>
			</dict>
		</array>
		<key>name</key>
		<string>注册会计师科目</string>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>intro</key>
				<string>撒开；放假啊；上看风景</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>啊失联飞机啊好手机话费</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>阿双方就哈时间可发货</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>阿双方了会撒娇返回</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>啊李了哈啊啥；房价</string>
			</dict>
		</array>
		<key>name</key>
		<string>高级建筑师科目</string>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>intro</key>
				<string>撒开；放假啊；上看风景</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>啊失联飞机啊好手机话费</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>阿双方就哈时间可发货</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>阿双方了会撒娇返回</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>啊李了哈啊啥；房价</string>
			</dict>
		</array>
		<key>name</key>
		<string>高级建筑师科目</string>
	</dict>
</array>
</plist>
