<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>intro</key>
				<string>第1章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第2章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第3章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第4章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第5章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第6章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第7章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第8章节</string>
			</dict>
		</array>
		<key>name</key>
		<string>注册会计师科目</string>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>intro</key>
				<string>第1章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第2章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第3章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第4章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第5章节</string>
			</dict>
		</array>
		<key>name</key>
		<string>高级建筑师科目</string>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>intro</key>
				<string>第1章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第2章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第3章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第4章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第5章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第6章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第7章节</string>
			</dict>
			<dict>
				<key>intro</key>
				<string>第8章节</string>
			</dict>
		</array>
		<key>name</key>
		<string>中级护师资格证科目</string>
	</dict>
</array>
</plist>
